<footer>
<div class="container-fluid bg-light" style="width: 100%; height:auto; position: relative;">
  <div class="row" style="padding-top: 10px;">
    <div class="col-md-6">
      <div class="mx-auto" style="width: 350px;">
        <h3 class="text-black">Elérhetőségeink:</h3>
        <ul>
            <li class="text-black">Szeged Pelda utca 8.</li>
            <li class="text-black">+36 123 4567</li>
            <li class="text-black">fullos@etterem.com</li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="mx-auto" style="width: 350px;">
        <h3 class="text-black">Nyitva tartás:</h3>
          <ul>
            <li class="text-black">H-P: 8:00 - 17:00</li>
            <li class="text-black">SZ: 8:00 - 16:00</li>
            <li class="text-black">V: ZÁRVA</li>
          </ul>
        </div>
    </div>
  </div>
  <p class="copyright">&copy; Minden jog fenntartva</p>
</div>
</footer>