<!DOCTYPE html>
<html lang="en">
   <head>
     <%- include('assets/head') %>
   </head>
   <header>
      <%- include('assets/header', {oldal: "register"}) %>
   </header>
   <body>
       <h1 class="text-center">Új jelszó:</h1>
       <div class="text-center">
           <form action="changePassword" method="post">
               <label>Új jelszó:
                   <input type="password" class="form-control" name="jelszo" >
               </label><br>
               <label>Új jelszó megint:
                   <input type="password" class="form-control" name="jelszo2" >
               </label><br>
               <input class="gomb mt-3" type="SUBMIT" value="Felvesz">
           </form>
           <% if(locals.hiba){ %> 
           <p class="hiba text-center p-2 m-2"><%- hiba %> </p>
            <% } %>
       </div>

   </body>
</html>
